@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/dm-sans-v15-latin/dm-sans-v15-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts-3by.pages.dev/dm-sans-v15-latin/dm-sans-v15-latin-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts-3by.pages.dev/dm-sans-v15-latin/dm-sans-v15-latin-600.woff2")
    format("woff2");
}

:root {
  /* Colors */

  --color-light: hsl(254, 88%, 90%); /* Light Purple */
  --color-primary-background: hsl(256, 67%, 59%); /* Primary Purple */
  --color-background200: hsl(31, 66%, 93%); /* Light Yellow */
  --color-accent: hsl(39, 100%, 71%); /* Accent Yellow */
  --color-background100: hsl(0, 0%, 100%); /* White */
  --color-text: hsl(0, 0%, 7%); /* Dark Text (Black) */

  /* Fonts */
  /* font family */
  --ff: "DM Sans";
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
main {
  max-width: 480px;
  margin: 20px;
  display: grid;
  gap: 20px;
}

.top-heading{
  font-size: 32px;
  color:var(--color-primary-background);
  margin:20px;
}
/* Mobile Styles */
.bento-cards {
  min-height: 200px;
  display: grid;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 0 30px  rgba(0, 0, 0, 0.104) ;
  overflow: hidden;
}
.card1 {
  background-color: var(--color-primary-background);
  padding: 40px;
  line-height: 1;
  text-align: center;
  color: white;
}
.card1 .card1-heading{
  font-size: 40px;
  font-weight: 500;
}
.card1 .card1-heading .yellow-text{
  color:var(--color-accent)
}
.card1 .rated-sec{
  display: grid;
  gap:10px;
  justify-items: center;
}
.card1 .rated-sec img{
  width:200px;
}
.card1 .rated-sec .card1-description{
  font-size: 18px;
}
/*manage multi acc*/ 
.card2 {
  background-color: var(--color-background100);
  grid-template-rows: 1fr 1fr;
}
.card2-heading{
  font-size: 24px;
  line-height: 1.2;
  text-wrap: pretty;
  font-weight: 600;
}

.card2 .social-app-links{
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style : none;
  padding-bottom: 20px;
}

.card2 .social-app-links::-webkit-scrollbar{
  display: none;
}


.card2 .social-app-links .social-acc{
  width: 170px;
  display: grid;
  gap: 10px;
  justify-self: center;
  grid-template-columns: 50px 130px;
  grid-template-rows: 20px 20px;
  color: black;
}

.card2 .social-app-links .social-acc i{
  grid-row: 1 / -1;
  grid-column: 1 / 2 ;
  text-align: center;
  padding: 7px;
  font-size:24px ;
  font-weight: 500;
  background-color: var(--color-accent);
  border-radius: 25px;
  color: var(--color-primary-background);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.317);
  transition: all .3s ease-in-out;
}
.card2 .social-app-links .social-acc .insta:hover{
  color:rgb(212, 3, 132);
  box-shadow: 5px 5px 5px rgba(212, 3, 132, 0.317);
}
.card2 .social-app-links .social-acc .discord:hover{
  color: rgb(31, 3, 188);
  box-shadow: 5px 5px 5px rgba(31, 3, 188, 0.562);
}

.card2 .social-app-links .social-acc .x-twitter:hover{
  color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.565);
}
.social-acc .username-followers > h3{
  font-size: 1rem;
  font-weight:400 ;
  padding-top: 3px;
}
.social-acc .username-followers > p{
  font-size: 14px;
  color: grey;
}

.card3 {
  background-color: var(--color-accent);
  max-height: 240px;
  justify-content: left;
}

.card3 .card3-heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.card3 img{
  width:200px
}
.card4 {
  background-color: var(--color-light);
  text-align: center;
}

.card4 .card4-heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.card4 .card4-description{
  font-size: 18px;
}
.card5 {
  background-color: var(--color-primary-background);
  padding: 30px 60px;
  text-align: center;
}
.card5 .card5-heading{
  font-size:clamp(1.75rem, 1.511rem + 1.018vi, 2rem);
  font-weight: 600;
  text-wrap: pretty;
  line-height: 1.2;
  color: whitesmoke;
}

.card6{
  background-color: white;
}
.card6 .card6-heading{
  font-size: 32px;
  line-height: 1;
}
.card6 .card6-description{
  font-size: 18px;
}


.card7 {
  background-color: var(--color-background200);
  padding: 40px;
}
.card7 .card7-heading{
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}
.purple-text{
  color: var(--color-primary-background);
}
.card7 > a{
  width: 200px;
  justify-self: left;
}
.card8 {
  background-color: var(--color-accent);
  padding: 30px;
}
.card8 .card8-heading{
  font-size: clamp(1.75rem, 1.273rem + 2.036vi, 2.25rem);
  font-weight: 600;
  line-height: 1.2;
  text-wrap: pretty;
}
.card8 img{
  width:80%;
}

footer{
  margin-block: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: darkgrey;
  text-align: center;
}
nav > a{
  color:darkgray;
  transition: all .3s ease-in-out;
}
nav > a:hover{
  color:black;
}
.footer-social > a{
  color: darkgray;
  transition: all .3s ease-in-out;
}
.footer-social > a:hover{
  color: black;
}

@media (min-width: 760px) {
  main {
    max-width: 1000px;
    margin: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 230px);
    overflow: hidden;
  }

  /* Card Styles */
  .card1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  /*inner card style*/
  .card1 {
    padding: 30px;
  }
  .card1 .card1-heading{
    font-size: clamp(2rem, 1.444rem + 1.173vi, 2.5rem);
  }
  .card2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 60px auto;
  }
  .card2-heading{
    align-self: baseline;
    font-size: clamp(1.375rem, 0.958rem + 0.88vi, 1.75rem);
    line-height: 1;
    font-weight: 400;
  }
  .card3 {
    grid-row: 5 / 5;
    grid-column: 3 / 5;
  }
  .card3 .card3-heading{
   font-size: clamp(1.75rem, 1.471rem + 0.587vi, 2rem);
  }
  .card4 {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    padding-block: 30px;
    justify-items:center;
  }
  .card4 img{
    max-height: 312px;
    object-fit:contain;
  }
  .card4-description{
    max-width:347px;
  }
  
  .card5 {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
    
  }
  .card6 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .card7 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
  .card8 {
    grid-row: 3 / 5;
    grid-column: 3 / 5;
  }
  .card8 .card8-heading{
    font-size: clamp(2.5rem, 1.929rem + 1.19vi, 3rem);
  }
}

@media (min-width: 1440px) {

  main {
    max-width: 1700px;
    margin: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 200px);
    overflow: hidden;
  }

  /* Card Styles */
  .card1 {
    grid-row: 1 / 3;
    grid-column: 4 / 10;
  }
  .card1 {
    padding: 70px 40px;
    line-height: 1;
    text-align: center;
    color: white;
  }
  .card1 .card1-heading{
    font-size: clamp(4rem, -4.308rem + 9.231vi, 5.5rem);
    font-weight: 500;
  }
  .card1 .rated-sec img{
    width:230px;
  }

  .card2 {        /* manage multi acc*/
    grid-row: 3 / 5;
    grid-column: 4 / 7;
    grid-template-rows: 100px auto;
    align-items: center;
  }
  .card2-heading{
    font-size:clamp(3.75rem, 1.5rem + 2.5vi, 4rem);
    line-height: 0.8;
    font-weight: 500;
    align-self: self-center;
  }
  .card3 {      /*maintain consistent posting schedule*/
    grid-row: 3 / 5;
    grid-column: 7 / 10;
    max-height:none;
  }
  .card3 .card3-heading{
    font-size:clamp(2.5rem, -4.25rem + 7.5vi, 3.25rem) ;
  }
  .card3 img{
    width:100%;
  }
  
  .card4 {       /* schedule to social media*/
    grid-row: 1 / 5;
    grid-column: 10 / -1;
    text-align: start;
    padding: 40px 30px;
    justify-content: left;
  }
  .card4 .card4-heading{
    font-size: 36px;
    font-weight: 600;
  }
  .card4 img{
    min-height: 500px;
    object-position:left;
    margin-right: -80px;
    object-fit: cover;
  }
  .card4 .card4-description{
    font-size: 24px;

  }
  .card5 { /* grow followers with non-stop content*/
    grid-row: 5 / -1;
    grid-column: 7 / -1 ;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
  .card5 .card5-heading{
    font-size: clamp(2rem, -2.5rem + 5vi, 3.25rem);
  }
  .card5 img {
    min-height:300px;
    min-width: 300px;
  }
  .card6 {  /* 56 % faster growth*/
    grid-row: 5 / -1;
    grid-column: 4 / 7;
    padding: 40px 30px;
    grid-template-rows: 1fr 2fr;
    gap: 40px;
  }
  
  .card6 .card6-heading{
    font-size: 80px;
    line-height: 1;
  }
  .card6 .card6-description{
    font-size: 24px;
  }
  .card7 {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    padding: 100px 40px;
  }
  .card7 .card7-heading{
    font-size: clamp(3.25rem, -1.25rem + 5vi, 3.75rem);
    line-height: 1;
  }
  .card8 {
    grid-row: 4 / -1;
    grid-column: 1 / 4;
  } 
  .card8 img{
    width:100%;
  }

}
